@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto';
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  background-color: black;
  width: 7px;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(255, 241, 44);
  border-radius: 15px;
}

